<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label class="font-weight-bold" for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="col-sm-3 form-group">
          <label class="font-weight-bold" for="amount">Amount</label>
          <input type="number" id="amount" class="form-control">
        </div>
        </div>
        <div class="row">
          <div class=" m-3 col-xs-12">
            <button class="mr-1 btn btn-success">Add</button>
            <button class="mr-1 btn btn-danger">Delete</button>
            <button type="reset" class="btn btn-primary">Clear</button>
          </div>
        </div>
    </form>
  </div>
</div>
